@import url("slick.css");
html {
    background-color: white;
}
body {
    margin: 0px;
    padding: 0px;
    color: #F0F0F0;
    font-style: "ヒラギノ角ゴ", "メイリオ", "Noto Sans CJK JP", "MS Pゴシック", "sans-serif";
}
/* ロゴのフェードイン */
.fadeOut {
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9000;
}
.fadeOut p {
    position: fixed;
    left: 45%;
    top: 48%;
    display: none;
    z-index: 9999;
    width: 280px;
}
/* 各ブロックの設定 */
#header, #footer {
    background: #154261;
    border: none;
}
#header{
    z-index: 1; /* z-indexの値を扱う際は、マイナスで指定しても良いが、hoverはz-indexが負の値に対して働かない為、ヘッダーのz-indexを1とする */
    top: 0px;
    position: fixed;
    width: 100%;
}
#content-main{
    padding: 3%;
    position: relative;
    top: 60px;
    min-height: calc(100vh - 50px);
}
#footer{
    text-align: right;
    font-size: 20px;
    padding: 30px 0;
    margin-top: 5%;
    width: 100%;
}
/* ボタンの装飾 */
.default_button button{
    font-size: 20px;
    width: 200px;
    height: 60px;
    background-color: #154261;
    color: #F0F0F0;
    border: none;
}
.default_button button:hover{
    background-color: #57A897;
}

/* メニュー */
/* 通常メニュー */
.header_select {
    display: flex;
}
.home_button button{
    background-color: #57A897;
}
.topic_button {
    text-align: right;
} 
/* ここまで */

/* ハンバーガーメニュー */
.ham_select{
    float: right;
    display: none;
}
.ham_btn{
    height: 60px;
    width: 60px;
    top: 10px;
    right: 10px;
    z-index: 2;
    justify-content: center;
    align-items: center;
    float: left;
    display: flex;
}
.ham_btn span,
.ham_btn span::before,
.ham_btn span::after{
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: white;
    position: absolute;
    transition: 0.5s;
}
.ham_btn span::before{
    bottom: 8px;
}
.ham_btn span::after{
    top: 8px;
}
#ham_btn_check:checked ~ .ham_btn span{
    background-color: rgba(255, 255, 255, 0);
}
#ham_btn_check:checked ~ .ham_btn span::before{
    bottom: 0;
    transform: rotate(45deg);
}
#ham_btn_check:checked ~ .ham_btn span::after{
    top: 0;
    transform: rotate(-45deg);
}
#ham_btn_check{
    display: none;
}
.menu_content {
    width: 200px;
    height: 240px;
    position: fixed;
    top: 60px;
    right: -200px;
    z-index: 1;
    background-color: #154261;
    transition: all 0.5s;
}
#ham_btn_check:checked ~ .menu_content{
    right: 0px;
}
/* ここまで */

#header img{
    float: left;
    margin-top: 5px;
}
/* ここまでメニューについて */

/* メインコンテンツ内の設定 */
h1{
    color: black;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: #57A897;
}
p{
    color: black;
}
/*==================================================
スライダーのためのcss
===================================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%; 
    left: 1%;
}
 
.slider img {
    border: 1px solid #154261;
    width:100%;/*スライダー内の画像を横幅100%に*/
    height:auto;
}
 
 /*slickのJSで書かれるタグ内、スライド左右の余白調整*/
 
.slider .slick-slide {
    margin:0 10px;
}
 
 /*矢印の設定*/
 
 /*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}
 
 .slick-prev {/*戻る矢印の位置と形状*/
    left: -1%;
    transform: rotate(-135deg);
}
 
.slick-next {/*次へ矢印の位置と形状*/
    right: -3%;
    transform: rotate(45deg);
}
 
 /*ドットナビゲーションの設定*/
 
.slick-dots {
    text-align:center;
    margin:20px 0 0 0;
}
 
.slick-dots li {
    display:inline-block;
    margin:0 5px;
}
 
.slick-dots button {
    color: transparent;
    outline: none;
    width:16px;/*ドットボタンのサイズ*/
    height:16px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    border: none;
    background:#154261;/*ドットボタンの色*/
}
 
.slick-dots .slick-active button{
    background:#57A897;/*ドットボタンの現在地表示の色*/
}

.news-list{
    list-style: none outside;
    width: 95%;
    height: 60vh;
    overflow-y: scroll;
}
.item{
    border-bottom: 5px solid #999999;
    max-width: 90%;
}
.all_topic_mode{
    width: 85vw;
    height: 85vh;
    max-height: 1000px;
    z-index: 3;
    display: none;
    background-color: #154261;
    box-shadow: 4px 4px 4px black;
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.all_topic_box{ 
    width: 100%;
    height: calc(100% - 80px);
    overflow-y: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.all_topic_box::-webkit-scrollbar{
    width: 0.5vw;
    background-color: #154261;
}
.all_topic_box::-webkit-scrollbar-thumb{
    border-radius: 2vw;
    background-color:#57A897;
}
.all_topic_box a {
    margin: 1%;
}
.atm_img{
    display: none;
    height: 40%;
    max-height: 300px;
    width: 380px;
    overflow: hidden;
    object-fit: cover;
}
#closed_atm{
    float: right;
    font-weight: bold;
    display: none;
}