html {
    background-color: white;
}
body {
    margin: 0px;
    padding: 0px;
    color: #F0F0F0;
    font-style: "ヒラギノ角ゴ", "メイリオ", "Noto Sans CJK JP", "MS Pゴシック", "sans-serif";
    min-height: 100%;
}
/* 各ブロックの設定 */
#header, #footer {
    background: #154261;
    border: none;
}
#header{
    z-index: 1; /* z-indexの値を扱う際は、マイナスで指定しても良いが、hoverはz-indexが負の値に対して働かない為、ヘッダーのz-indexを1とする */
    top: 0px;
    position: fixed;
    width: 100%;
    height: 80px;
}
#content-main{
    margin: 3%;
    position: relative;
    top: 60px;
    overflow: auto;
    min-height: calc(100vh - 300px);
}
#footer{
    text-align: right;
    font-size: 20px;
    padding: 30px 0;
    margin-top: 5%;
    width: 100%;
}
/* ボタンの装飾 */
.default_button button{
    width: 200px;
    height: 80px;
    font-size: 20px;
    background-color: #154261;
    color: #F0F0F0;
    border: none;
}
.default_button button:hover{
    background-color: #57A897;
}

/* メニュー */
/* 通常メニュー */
.header_select {
    display: flex;
}
.home_button button{
    background-color: #57A897;
}
.topic_button {
    text-align: right;
}
/* ここまで */

/* ハンバーガーメニュー */
.ham_select{
    float: right;
    display: none;
}
.ham_btn{
    height: 80px;
    width: 80px;
    top: 10px;
    right: 10px;
    z-index: 2;
    justify-content: center;
    align-items: center;
    float: left;
    display: flex;
}
.ham_btn span,
.ham_btn span::before,
.ham_btn span::after{
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: white;
    position: absolute;
    transition: 0.5s;
}
.ham_btn span::before{
    bottom: 8px;
}
.ham_btn span::after{
    top: 8px;
}
#ham_btn_check:checked ~ .ham_btn span{
    background-color: rgba(255, 255, 255, 0);
}
#ham_btn_check:checked ~ .ham_btn span::before{
    bottom: 0;
    transform: rotate(45deg);
}
#ham_btn_check:checked ~ .ham_btn span::after{
    top: 0;
    transform: rotate(-45deg);
}
#ham_btn_check{
    display: none;
}
.menu_content {
    width: 200px;
    height: 240px;
    position: fixed;
    top: 60px;
    right: -200px;
    z-index: 1;
    background-color: #154261;
    transition: all 0.5s;
}
#ham_btn_check:checked ~ .menu_content{
    right: 0px;
}
/* ここまで */

#header img{
    margin-top: 15px;
    float: left;
    
}
/* ここまでメニューについて */

/* メインコンテンツ内の設定 */
h1{
    color: black;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: #57A897;
    float: left;
}

h4{
    text-align: right;
}

.Midashi{
    color: black;
}

.Honbun{
    float: left; 
    color: black;
    font-size: 130%;
    margin-left: auto;
    height: 100%;
    width: 100%;
}

.Honbun>img{
    float: right;
    margin-left: 3%;
    margin-top: 0%;
}

img.imgOpt{
    width: 35vw;
    height: auto;
}

red{
    color: red;
}

bold{
    font-weight: bold;
}

big-font{
    font-size: 200%;
}

/* これは記事を書く際のテンプレのcssです。 適宜変更、コピーして使用してください*/